.card__delete-button {
  width: 18px;
  height: 19px;
  padding: 0;

  position: absolute;
  top: 20px;
  right: 20px;

  /* z-index: ; */

  border: none;
  background-color: transparent;

  background-image: url(../../../images/icons/delete-icon.svg);

  cursor: pointer;
}