.popup__input {
  padding-bottom: 6px;

  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}